include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE
include README.rst

recursive-include {{cookiecutter.pkg_name}}/tests *
recursive-include {{cookiecutter.pkg_name}}/static *

recursive-include docs *.rst conf.py Makefile make.bat

recursive-exclude * __pycache__
recursive-exclude * *.py[co]